# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore datasets
Datasets/
*.csv
classified_tickets.csv

dataset_creation.ipynb

# Environment variables
.env
/backend/.env

# Virtual environment
venv/

# Jupyter
.ipynb_checkpoints/

# Testing
test.py
test_insert_article.py

# OS files
.DS_Store
Thumbs.db